Repository OS-EDU/KO--CSP, pull requests merged in 2021-03, with the labels that each got.

#82 [Add Workflow]
  .github/ISSUE_TEMPLATE/issue.md
Labels: enhancement

#81 Update README.md
  README.md
Labels: documentation

#80 [Solution] 提交PAT_B1028 人口普查的 c++ 语言解法
  PAT/cSrc/PAT-B1028 人口普查.cpp
Labels: C++, PAT-B, solution

#85 [Add Question] 增加 PAT-B1036 题目描述文件
  PAT/题目描述/PAT-B1036.md
Labels: PAT-B, add questions

#87 [Add Question] 增加 PAT-B1032.挖掘机技术哪家强 题目描述文件
  PAT/题目描述/PAT-B1032.md
Labels: PAT-B, add questions

#89 [Solution] 提交PAT_B1028 人口普查的 java 语言解法
  PAT/javaSrc/PAT-B1028.java
Labels: Java, PAT-B, solution

#91 [Solution] 提交PAT-B1032 挖掘机技术哪家强 的 C++ 语言解法
  PAT/cSrc/PAT-B1032 挖掘机技术哪家强.cpp
Labels: C++, PAT-B, solution

#92 [Solution] 提交PAT-B1032 挖掘机技术哪家强 的 java 语言解法
  PAT/javaSrc/PAT-B1032.挖掘机技术哪家强.java
Labels: Java, PAT-B, add questions

#88 增加PAT-B1030 完美数列 题目描述文件
  PAT/题目描述/PTA-B1030.md
Labels: PAT-B, add questions

#94 增加 PAT-B1022. D 进制的 A + B 题目描述文件
  PAT/题目描述/PAT-B1022.md
Labels: PAT-B, add questions

#96 [Solution] 提交PAT-B1022.D 进制的 A + B 的 C++ 语言解法
  PAT/cSrc/PAT-B1022.D进制的A+B.cpp
Labels: C++, PAT-B, solution

#97 [Solution] 提交PAT-B1022.D 进制的 A + B 的 java 语言解法
  PAT/javaSrc/PAT-B1022.java
Labels: Java, PAT-B, solution
