Repository OS-EDU/KO--CSP, pull requests merged in 2021-08, with the labels that each got.

#184 [Solution] PAT-B1019.数字黑洞 Java 解法
  PAT/javaSrc/PAT-B1019.数字黑洞.java
Labels: Java, PAT-B, pull/approved, solution

#187 [Add Question] 增加 PAT-B1021.个位数统计 题目描述文件
  PAT/题目描述/PAT-B1021.个位数统计.md
Labels: PAT-B, add questions, pull/approved

#188 [Add Question] 增加 PAT-B1023.组个最小数 题目描述文件
  PAT/题目描述/PAT-B1023.组个最小数.md
Labels: PAT-B, add questions, pull/approved

#192 [Solution] PAT-B1011.A+B和C Python Code
  PAT/pythonSrc/PAT-B1011.A+B和C.py
Labels: solution, Python, PAT-B, pull/approved

#189 [Improvement] 更新 PAT-B 题解列表
  PAT/题解列表/PAT-B.题解列表.md
Labels: PAT-B, Improvement, pull/approved

#198 PAT-A1042.ShufflingMachine.cpp edited
  PAT/cSrc/PAT-A1042.ShufflingMachine.cpp
Labels: C/C++, PAT-A, kind/question, pull/approved

#202 PAT-A1046.Shortest Distance.java renamed to PAT-A1046.ShortestDistanc…
  PAT/javaSrc/PAT-A1046.ShortestDistance.java
Labels: bug, Java, PAT-A, pull/approved

#208 [Solution] PAT-B1003.我要通过！python code
  PAT/pythonSrc/PAT-B1003.我要通过！.py
Labels: solution, Python, PAT-B, pull/approved

#207 [Solution] 提交 PAT-B1003.我要通过! C++ 解法
  PAT/cSrc/PAT-B1003.我要通过!.cpp
Labels: solution, C/C++, PAT-B, pull/approved

#205 [Solution] PAT-B1020.月饼 Java 解法
  PAT/javaSrc/PAT-B1020.月饼 .java
Labels: solution, Java, PAT-B, pull/approved

#211 [Solution] PAT-B1023.组个最小数 Java 解法
  PAT/javaSrc/PAT-B1023.组个最小数.java
Labels: solution, Java, PAT-B, pull/approved

#210 [Solution]提交 PAT-B1023.组个最小数 C++ 解法
  PAT/cSrc/PAT-B1023.组个最小数.cpp
Labels: solution, C/C++, PAT-B, pull/approved

#215 [Improvement] Fix PAT-B1001.害死人不偿命的(3n+1)猜想.java
  PAT/javaSrc/PAT-B1001.害死人不偿命的(3n+1)猜想.java
Labels: Java, PAT-B, Improvement, pull/approved

#214 [Solution] PAT-B1021.个位数统计 Java 解法
  PAT/javaSrc/PAT-B1021.个位数统计.java
Labels: solution, Java, PAT-B, pull/approved

#218 [Solution of PAT-B1023.组个最小数 - PythonCode]
  PAT/pythonSrc/PAT-B1023.组个最小数.py
Labels: solution, Python, PAT-B, pull/approved
