Repository OS-EDU/KO--CSP, pull requests merged in 2021-05, with the labels that each got.

#126 [Solution] 提交PAT-B1007.素数对猜想 的 java 语言解法
  PAT/javaSrc/PAT-B1007.素数对猜想.java
Labels: Java, PAT-B, solution

#122 [Solution] PAT-B1007素数对猜想 C++ 解法
  PAT/cSrc/PAT-B1007素数对猜想.cpp
Labels: C++, PAT-B, solution

#129 [Add Question]增加 PAT-B1027.打印沙漏题目描述文件
  PAT/题目描述/PAT-B1027.打印沙漏.md
Labels: PAT-B, add questions

#130 [Add Question]增加 PAT-B1002.写出这个数题目描述文件
  PAT/题目描述/PAT-B1002.写书这个数.md
Labels: PAT-B

#135 [Improvement] [Enhancement]Create hypertrons.json
  .github/hypertrons.json
Labels: Improvement, enhancement

#136 [Add Question]增加 PAT-B1003.我要通过 题目描述文件
  PAT/题目描述/PAT-B1003.我要通过.md
Labels: PAT-B, add questions

#137 [Add Question]增加 PAT-B1005.继续(3n+1)猜想 题目描述文件
  PAT/题目描述/PAT-B1005.继续 3n+1 猜想.md
Labels: add questions

#139 [Improvement] Update hypertrons.json
  .github/hypertrons.json
Labels: Improvement, enhancement

#134 [Solution] PAT-B1002.写出这个数 C 语言解法
  PAT/cSrc/PAT-B1002.写出这个数.c
Labels: C\C++, PAT-B, solution

#140 [Solution] 提交PAT-B1027.打印沙漏 的 java 语言解法
  PAT/javaSrc/PAT-B1027.打印沙漏.java
Labels: Java, PAT-B, solution

#141 [Solution] 提交PAT-B1027.打印沙漏 的 C++ 语言解法
  PAT/cSrc/PAT-B1027.打印沙漏.cpp
Labels: C/C++, PAT-B, pull/approved, solution

#144 [Improvement] Update hypertrons.json
  .github/hypertrons.json
Labels: Improvement, enhancement, pull/approved

#145 [Add question]增加 PAT-B1006.换个格式输出整数 题目描述文件
  PAT/题目描述/PAT-B1006.换个格式输出整数.md
Labels: PAT-B, add questions, pull/approved

#146 [Add Question]增加 PAT-B1029.旧键盘 题目描述文件
  PAT/题目描述/PAT-B1029.旧键盘.md
Labels: PAT-B, add questions, pull/approved

#148 [Add Question]增加 PAT-B1026.程序运行时间 题目描述文件
  PAT/题目描述/PAT-B1026.程序运行时间.md
Labels: PAT-B, add questions, pull/approved

#149 [Add Question]提交 PAT-B1025.反转链表 题目描述文件
  PAT/题目描述/PAT-B1025.反转链表.md
Labels: PAT-B, add questions, pull/approved

#151 [Add Question]提交 PAT-B1024.科学计数法 题目描述文件
  PAT/题目描述/PAT-B1024.科学计数法.md
Labels: PAT-B, add questions, pull/approved

#152 [Solution] PAT-A1046.Shortest Distance C++ 解法
  PAT/cSrc/PAT-A1046.ShortestDistance.cpp
Labels: C/C++, PAT-A, pull/approved, solution

#155 [Solution] PAT-A1046.Shortest Distance Java 解法
  PAT/javaSrc/PAT-A1046.Shortest Distance.java
Labels: Java, PAT-A, pull/approved, solution
