Repository OS-EDU/KO--CSP, pull requests merged in 2021-04, with the labels that each got.

#99 [Solution] 提交PAT-B1030.完美数列 的 java 语言解法
  PAT/javaSrc/PAT-B1030.完美数列.java
Labels: Java, PAT-B, solution

#100 [Solution] 提交PAT-B1030.完美数列 的 C++ 语言解法
  PAT/cSrc/PAT-B1030 完美数列.cpp
Labels: C++, PAT-B, solution

#102 增加 PAT_B1009.说反话 题目描述文件
  PAT/题目描述/PAT-B1009.说反话.md
Labels: PAT-B, add questions

#105 [Solution] 提交PAT-B1036.跟奥巴马一起编程 的 C++ 语言解法
  PAT/cSrc/PAT-B1036 跟奥巴马一起编程.cpp
Labels: C++, PAT-B, solution

#106 [Solution] 提交PAT-B1009.说反话 的 Java 语言解法
  PAT/javaSrc/PAT-B1009.说反话(1).java
  PAT/javaSrc/PAT-B1009.说反话(2).java
Labels: Java, PAT-B, solution

#108 [Solution] 提交PAT-B1036.跟奥巴马一起编程 的 Java 语言解法
  PAT/javaSrc/PAT-B1036.和奥巴马一起编程.java
Labels: Java, PAT-B, solution

#107 [Solution] 提交PAT-B1009.说反话 的 C++ 语言解法
  PAT/cSrc/PAT-B1009.说反话.cpp
Labels: C++, PAT-B, solution

#110 增加 PAT_B1013.数素数 题目描述文件
  PAT/题目描述/PAT-B1013.数素数.md
Labels: add questions

#113 [Feature] 规范题目描述文件和 C++ 文件
  PAT/cSrc/PAT-A1042.Shuffling Machine.cpp
  PAT/cSrc/PAT-B1001.害死人不偿命的(3 * n + 1).cpp
  PAT/cSrc/PAT-B1004.成绩排名.cpp
  PAT/cSrc/PAT-B1008.数组元素循环右移问题.cpp
  PAT/cSrc/PAT-B1010.一元多项式求导.cpp
  PAT/cSrc/PAT-B1011.A + B 和 C.cpp
  PAT/cSrc/PAT-B1012.数字分类.cpp
  PAT/cSrc/PAT-B1016.部分A + B.cpp
  PAT/cSrc/PAT-B1018.锤子剪刀布.cpp
  PAT/cSrc/PAT-B1022.D 进制的A + B.cpp
  PAT/cSrc/PAT-B1028.人口普查.cpp
  PAT/cSrc/PAT-B1030.完美数列.cpp
  PAT/cSrc/PAT-B1032.挖掘机技术哪家强.cpp
  PAT/cSrc/PAT-B1036.跟奥巴马一起编程.cpp
  PAT/cSrc/PAT-B1041.考试座位号.cpp
  PAT/cSrc/PAT-B1046.划拳.cpp
  PAT/题目描述/PAT-A1042.Shuffling Machine.md
  PAT/题目描述/PAT-A1046.Shortest Distance.md
  PAT/题目描述/PAT-B1001.害死人不偿命的(3 * n + 1)猜想.md
  PAT/题目描述/PAT-B1004.成绩排名.md
  PAT/题目描述/PAT-B1008.数组元素循环右移问题.md
  PAT/题目描述/PAT-B1009.说反话.md
  PAT/题目描述/PAT-B1010.一元多项式求导.md
  PAT/题目描述/PAT-B1011.A + B 和 C.md
  PAT/题目描述/PAT-B1012.数字分类.md
  PAT/题目描述/PAT-B1016.部分A + B.md
  PAT/题目描述/PAT-B1018.锤子剪刀布.md
  PAT/题目描述/PAT-B1022.D 进制的 A + B.md
  PAT/题目描述/PAT-B1028.人口普查.md
  PAT/题目描述/PAT-B1030.完美数列.md
  PAT/题目描述/PAT-B1032.挖掘机技术哪家强.md
  PAT/题目描述/PAT-B1036.跟奥巴马一起编程.md
  PAT/题目描述/PAT-B1041.考试座位号.md
  PAT/题目描述/PAT-B1046.划拳.md
Labels: documentation, enhancement

#114 [Feature] 规范 java 文件
  PAT/javaSrc/PAT-A1042.Shuffling Machine.java
  PAT/javaSrc/PAT-B1001.害死人不偿命的(3n + 1)猜想.java
  PAT/javaSrc/PAT-B1004.成绩排名.java
  PAT/javaSrc/PAT-B1008.数组元素循环右移问题.java
  PAT/javaSrc/PAT-B1010.一元多项式求导.java
  PAT/javaSrc/PAT-B1011.A + B 和 C.java
  PAT/javaSrc/PAT-B1012.数字分类.java
  PAT/javaSrc/PAT-B1016.部分A + B.java
  PAT/javaSrc/PAT-B1018.锤子剪刀布.java
  PAT/javaSrc/PAT-B1022.D 进制的 A + B.java
  PAT/javaSrc/PAT-B1028.人口普查.java
  PAT/javaSrc/PAT-B1041.考试座位号.java
  PAT/javaSrc/PAT-B1046.划拳.java
Labels: documentation, enhancement

#115 [Solution] 提交PAT-B1013数素数 的 C++ 语言解法
  PAT/cSrc/PAT-B1013.数素数01.cpp
  PAT/cSrc/PAT-B1013.数素数02.cpp
Labels: C++, PAT-B, solution

#116 [Solution] 提交PAT-B1013.数素数 的 java 语言解法
  PAT/javaSrc/PAT-B1013.数素数.java
Labels: Java, PAT-B, solution

#118 增加 PAT_B1007.素数对猜想 题目描述文件
  PAT/题目描述/PAT-B1007.素数对猜想.md
Labels: PAT-B, add questions

#119 [Improvement] 删除文件名中的空格
  PAT/cSrc/PAT-A1042.ShufflingMachine.cpp
  PAT/cSrc/PAT-B1001.害死人不偿命的(3*n+1).cpp
  PAT/cSrc/PAT-B1011.A+B和C.cpp
  PAT/cSrc/PAT-B1016.部分A+B.cpp
  PAT/cSrc/PAT-B1022.D进制的A+B.cpp
  PAT/javaSrc/PAT-A1042.ShufflingMachine.java
  PAT/javaSrc/PAT-B1001.害死人不偿命的(3n + 1)猜想.java
  PAT/javaSrc/PAT-B1001.害死人不偿命的(3n+1)猜想.java
  PAT/javaSrc/PAT-B1011.A+B和C.java
  PAT/javaSrc/PAT-B1016.部分A+B.java
  PAT/javaSrc/PAT-B1022.D进制的A+B.java
  PAT/题目描述/PAT-A1042.ShufflingMachine.md
  PAT/题目描述/PAT-A1046.ShortestDistance.md
  PAT/题目描述/PAT-B1001.害死人不偿命的(3 *n+1)猜想.md
  PAT/题目描述/PAT-B1011.A+B和 C.md
  PAT/题目描述/PAT-B1016.部分A+B.md
  PAT/题目描述/PAT-B1022.D进制的A+B.md
Labels: Improvement, documentation

#121 [Improvement] 更新 README 以及修改命名不规范的文件
  PAT/cSrc/PAT-B1001.害死人不偿命的(3n+1).cpp
  PAT/题目描述/PAT-B1001.害死人不偿命的(3n+1)猜想.md
  README.md
Labels: Improvement, documentation
