Repository OS-EDU/KO--CSP, pull requests merged in 2021-07, with the labels that each got.

#165 [Solution] PAT-B1005.继续(3n+1)猜想 Java 解法
  PAT/javaSrc/PAT-B1005.继续(3n+1)猜想.java
Labels: Java, PAT-B, pull/approved, solution

#166 [Add Question]增加 PAT-B1014.福尔摩斯的约会 题目描述文件
  PAT/题目描述/PAT-B1014.福尔摩斯的约会.md
Labels: PAT-B, add questions

#167 [Solution] PAT-B1005.继续(3n+1)猜想 C++ 解法
  PAT/cSrc/PAT-B1005.继续(3n+1)猜想.cpp
Labels: C/C++, PAT-B, solution

#168 [Solution] PAT-B1014.福尔摩斯的约会 Java 解法
  PAT/javaSrc/PAT-B1014.福尔摩斯的约会.java
Labels: Java, PAT-B, pull/approved, solution

#170 [Solution] PAT-B1003.我要通过！ Java 解法
  PAT/javaSrc/PAT-B1003.我要通过！.java
Labels: Java, PAT-A, PAT-B, pull/approved, solution

#171 [Improvement] 更新 README
  PAT/题解列表/PAT-A.题解列表.md
  PAT/题解列表/PAT-B.题解列表.md
  README.md
  img/公众号二维码.jpg
Labels: Improvement, enhancement, pull/approved

#173 [Add Question] 增加 PAT-B1015.德才论 题目描述文件
  PAT/题目描述/PAT-B1015.德才论.md
Labels: PAT-B, add questions

#174 [Solution] PAT-B1015.德才论 Java 解法
  PAT/javaSrc/PAT-B1015.德才论.java
Labels: Java, PAT-B, pull/approved, solution

#175 [Add Question] 增加 PAT-B1017.A除以B 题目描述文件
  PAT/题目描述/PAT-B1017.A除以B.md
Labels: PAT-B, add questions

#178 [Solution] PAT-B1015.德才论 C++ 解法
  PAT/cSrc/PAT-B1015.德才论.cpp
Labels: C/C++, PAT-B, pull/approved, solution

#176 [Solution] PAT-B1017.A除以B Java 解法
  PAT/javaSrc/PAT-B1017.A除以B.java
Labels: Java, PAT-B, pull/approved, solution

#179 [Add Question] 增加 PAT-B1019.数字黑洞 题目描述文件
  PAT/题目描述/PAT-B1019.数字黑洞.md
Labels: PAT-B, add questions, pull/approved

#182 [Add Question] 增加 PAT-B1020.月饼 题目描述文件
  PAT/题目描述/PAT-B1020.月饼.md
Labels: PAT-B, add questions, pull/approved

#181 [Solution] PAT-B1014.福尔摩斯的约会 C++ 解法
  PAT/cSrc/PAT-B1014.福尔摩斯的约会.cpp
Labels: C/C++, PAT-B, pull/approved, solution
